@import './maps';

$colorBotones: rgb(248, 26, 92);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: map-get($maps, colorNegro);
    ;

    &:hover {
        color: map-get($maps, colorNegro);
        ;
    }
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: map-get($maps, colorNegro);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;

    &:hover {
        color: map-get($maps, colorNegro);
        ;
    }
}

.search {
    height: 45px;
    width: 80%;
    border-radius: 15%;
    outline: none;
    margin-right: -50px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid $colorBotones;
}


.main {
    background: url(../img/main.jpg)no-repeat;
    height: 70vh;
    background-position: 50% 50%;
    width: 100%;

    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
}

.btn1 {
    margin-top: 30px;
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: $colorBotones;
    color: white;
    font-weight: 700;
    border-radius: 60px;

    &:hover {
        background-color: $colorBotones;
        transition: 0.5s;
    }
}

.col-lg-4 img {
    width: 300px;
    height: 300px;
}

h1 {
    font-weight: 700;
}

.card:hover {
    box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.75);
    transition: 0.25s;
}

#imagenesTienda img {
    width: 150px;
    height: 150px;
}

.footer {
    background-color: map-get($maps, colorNegro);
    color: white;

    p {
        margin: 0;
    }

    input {
        height: 45px;
        width: 55%;
        border: 2px solid white;
        outline: none;
        background: map-get($maps, colorNegro);
        color: white;
        margin-top: 20px;
        font-weight: 600;
    }
}

.footer::placeholder {
    color: white;
}

.btn2 {
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}

.fab {
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

.icon:hover {
    animation: shake .25s;
}